@use '../sass/variables';
@use '../sass/mixins';

.header {
  padding: 2rem 1.5rem 5rem 1.5rem;
  background-image: url('../../public/images/bg-header-mobile.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: variables.$color-dark-cyan;
  position: relative;

  @include mixins.mq(md) {
    padding: 3rem 2.5rem 5rem 2.5rem;
  }
  @include mixins.mq(lg) {
    padding: 3rem 5rem 5rem 5rem;
    background-image: url('../../public/images/bg-header-desktop.svg');
  }

  &__inner-container {
    // max-width: 69.375rem;
    // margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$color-bg;
  }
  &__logo {
    font-style: italic;
    font-size: 1.6rem;

    @include mixins.mq(md) {
      font-size: 1.5remrem;
    }
    @include mixins.mq(lg) {
      font-size: 2rem;
    }
  }
  &__login {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    @include mixins.mq(md) {
      font-size: 1.2rem;
    }
    @include mixins.mq(lg) {
      font-size: 1.3rem;
    }
    &-text {
      margin-left: 0.2rem;
      @include mixins.mq(md) {
        font-size: 1.1rem;
        margin-left: 0.3rem;
      }
      @include mixins.mq(lg) {
        font-size: 1.3rem;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__user-name {
    color: variables.$color-bg;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.85rem;
    @include mixins.mq(md) {
      font-size: 1rem;
    }
    @include mixins.mq(lg) {
      font-size: 1.3rem;
    }
  }
  &__user-icon {
    @include mixins.mq(md) {
      font-size: 1.3rem;
    }
    @include mixins.mq(lg) {
      font-size: 1.5rem;
    }
  }
  &__img-container {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.3rem;
    @include mixins.mq(md) {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
    img {
      width: 100%;
    }
  }
  &__arrow {
    font-size: 1.125rem;
  }
}
.dropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: #fff;
  color: variables.$color-very-dark-cyan;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  box-shadow: variables.$shadow-cyan;
  z-index: 10;
  text-align: center;
  font-weight: variables.$font-bold;

  @include mixins.mq(md) {
    padding: 2rem 2.5rem;
    font-size: 1.125rem;
  }

  @include mixins.mq(lg) {
    top: 3rem;
  }

  &-container {
    position: relative;
  }
  &.hide {
    display: none;
  }
  &-item {
    &:not(:last-child) {
      @include mixins.mq(md) {
        margin-bottom: 1rem;
      }
    }
    &:hover {
      color: variables.$color-dark-cyan;
    }
  }
}
.btn-logout {
  color: inherit;
  margin-top: 0.5rem;
}
