$font-primary: 'League Spartan', sans-serif;

$color-dark-cyan: hsl(180, 29%, 50%);
$color-bg: hsl(180, 52%, 96%);
$color-filter-tablets: hsl(180, 31%, 95%);
$color-grey-cyan: hsl(180, 8%, 52%);
$color-very-dark-cyan: hsl(180, 14%, 20%);

$shadow-cyan: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

$font-regular: 500;
$font-bold: 700;
