@use '../sass/variables';
@use '../sass/mixins';

.profile {
  &-container {
    max-width: 69.375rem;
    margin: auto;
  }
  &__form {
    &-container {
      margin-top: 1rem;
    }
    &-items {
      display: grid;
      position: relative;
      margin-bottom: 1rem;
    }
  }
}

.btn-update {
  margin-right: 1rem;
  margin-bottom: 1rem;
  @include mixins.mq(md) {
    margin-top: 2rem;
  }

  &:hover {
    color: variables.$color-dark-cyan;
    background-color: #fff;
  }
}

input,
textarea {
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-family: inherit;
}
label {
  margin-bottom: 0.2rem;
}
